body {
  font-family: $fonts;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Main {
  &.Presentation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    @include flexbox();
  }
}

.Flex {
  @include flexbox();

  @include mod(horizontal) {
    flex-direction: row !important;
  }
}
