// Screen components
.Screen {
  @include has(status-bar) {
    width: 100%;
    height: 20px;
    color: #fff;
    display: flex;
    flex-direction: row;
    @include ts(color .2s ease);

    &.light {
      color: #000 !important;
    }

    > aside {
      flex: 1;
      z-index: 10;
    }

    > aside:nth-of-type(2) {
      text-align: center;
    }

    > aside:last-of-type {
      text-align: right;
    }
  }
  
  @include has(content) {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  @include has(dock) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #444;
    padding-top: 7.5px;
  }
}

// Status bar
.Status {
  @include has(signals) {
    display: inline-block;

    &:before {
      content: '\f111\f111\f111\f1db\f1db';
      font-family: "FontAwesome";
      font-size: .45em;
      vertical-align: super;
      line-height: 20px;
      letter-spacing: 1.8px;
      margin-left: 5px;
    }
  }

  @include has(carrier) {
    display: inline-block;

    &:before {
      content: attr(carrier);
      font-size: .8em;
      vertical-align: top;
      line-height: 15px;
    }
  }

  @include has(wifi) {
    display: inline-block;

    &:before {
      content: '\f1eb';
      font-family: "FontAwesome";
      font-size: .85em;
      line-height: 16px;
      vertical-align: top;
    }
  }

  @include has(clock) {
    &:before {
      content: attr(time);
      font-size: .85em;
      font-weight: 500;
      line-height: 20px;
      vertical-align: super;
    }
  }

  @include has(services) {
    &:last-child {
      margin-right: 5px;
    }
  }

  @include has(bluetooth) {
    display: inline-block;

    &:before {
      content: '\f294';
      font-family: "FontAwesome";
      font-size: 1.15em;
      line-height: 18px;
      vertical-align: top;
      margin-right: 2px;
      color: #848484;
    }
  }

  @include has(battery) {
    display: inline-block;

    &:before {
      content: '\f240';
      font-family: "FontAwesome";
      line-height: 18px;
      font-size: 1.15em;
      vertical-align: top;
    }
  }
}

.Screen__home > app,
.Screen__dock > app,
.Screen__home > folder,
.Screen__dock > folder {
  @extend .col-xs-3;
  padding: 2px 0 0 0;
  height: 75px;
  text-align: center;
  margin-bottom: 3px;
}

folder > app {
  @extend .col-xs-4;
}

folder, app {
  cursor: pointer;
}

.App {
  @include has(icon) {
    position: relative;

    &[badge]:before {
      content: attr(badge);
      display: block;
      position: absolute;
      top: -6px;
      right: 5px;
      border-radius: 9px;
      background: #c60024;
      color: #fff;
      width: 18px;
      height: 18px;
      font-size: .85em;
      line-height: 18px;
      padding-left: 1px;
      font-weight: 500;
    }
    
    img {
      width: 51px;
      height: 51px;
      border-radius: 22%;
    }
  }
  
  @include has(label) {
    color: #fff;
    font-size: .75em;
    line-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 2px;
    font-weight: 400;

    span {
      text-shadow: 0 0 1px rgba(0,0,0,.5);
    }
  }
}